/*
!/.atom/
!/.config
!/.emacs.d/
!/.lein/profiles.clj
!/.script
!/.Xresources
!/.bashrc
!/.flake8
!/.gitignore
!/.gitignore_global
!/.less
!/.lesskey
!/.pylintrc
!/.screenrc
!/.vimrc
!/.zsh_profile
!/.zshrc
