Xft.antialias: rgba
Xft.rgba: rgb
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.embolden: true
Emacs.fontBackend: xft
Emacs*menuBar: off
Emacs*toolBar: off
Emacs*scrollBar: off
Emacs*verticalScrollBars: off
