/.cache
/.custom.el
/.dap-breakpoints
/.lsp-*
/.trello
/bookmarks
/elpa
/eshell
/places
/projectile*
/quelpa
/recentf
/saved
/saves
/auto-save-list
/url
/session.*
/lsp-*
/request
/transient
/eclipse.jdt.ls
/workspace
/tramp
/scratch
/undo-tree
**/eln-*